
  <div class="row-result">
    <div class="col-md-12 centered">
      <div class="thumbnail" data-atr-channel-id={{channelid}}>

        <h3> {{username}} </h3>
        <p> {{description}} </p>
        <div class="col-md-4"><span class="glyphicon glyphicon-eye-open"></span> Total Views: <strong>{{viewCount}}</strong></div>
        <div class="col-md-4"><span class="glyphicon glyphicon-dashboard"></span> Subscribers: <strong>{{subscriberCount}}</strong></div> 
        <div class="col-md-4"><span class="glyphicon glyphicon-play"></span> Total Videos: <strong>{{videoCount}}</strong></div>
      </div>
    </div>
  </div>





