
  <div class="row result">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail" data-atr-channel-id={{channelid}}>
        <h3> {{username}} </h3>
        <ul>
          <li class="viewCount">Total Views: <strong>{{viewCount}}</strong> </li>
          <li>Subscribers: <strong>{{subscriberCount}}</strong> </li>
          <li>Total Videos: <strong>{{videoCount}}</strong></li>
        </ul>
        <p><a href="/show" class="btn btn-default" role="button">View</a></p>
        <button class="btn btn-primary hold">Hold</button>
      </div>
    </div>
  </div>

